.c-content--container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
}
.c-content--header {
  height: max-content;
}
.c-content--body {
  height: 0;
  flex: 1;
  overflow: auto;
}
.c-content--footer {
  height: max-content;
}
