.lrl-table-plus-container {
  .c-content--header {
    padding: 20px 20px 8px;
    display: flex;
  }

  .lrl-table-search-right-opt {
    width: max-content;
  }

  .cn-form-inline-container {
    width: 0;
    flex: 1;

    .el-form--inline .el-form-item {
      margin-bottom: 12px;
      margin-top: 0px;
    }
  }
  .l-table-content {
    padding: 0 20px;
  }
  // When showHeader is true, override padding-top to 0
  .l-table-container:not(.no-header) .l-table-content {
    padding-top: 0;
  }
}
